.parent{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
}
.childOne{
  width: 30%;
  margin:2px;
  border:1px solid gray;
  border-radius:15px 12px 15px 15px;
}
.childTwo{
  width:68%;
  margin:2px;
  border:2px solid blue;
  border-radius:2px 2px 2px 2px;
}
img{
  display:block;
  margin-left:auto;
  margin-right:auto;
}
/*for small screen mobiles*/
@media screen and (min-device-width:320px)and (max-device-width:480px){
body{
  background-color:red;
}
  .parent{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
  }
  .childOne{
    width: 30%;
    margin:2px;
    border:1px solid gray;
    border-radius:15px 12px 15px 15px;
  }
  .childTwo{
    width:68%;
    margin:2px;
    border:2px solid blue;
    border-radius:2px 2px 2px 2px;
  }
  img{
    display:block;
    margin-left:auto;
    margin-right:auto;
  }

}
/*for ipads*/
@media screen and (min-device-width:481px)and (max-device-width:768px){
body{
  background-color:blue;
}
  .parent{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
  }
  .childOne{
    width: 30%;
    margin:2px;
    border:1px solid gray;
    border-radius:15px 12px 15px 15px;
  }
  .childTwo{
    width:68%;
    margin:2px;
    border:2px solid blue;
    border-radius:2px 2px 2px 2px;
  }
  img{
    display:block;
    margin-left:auto;
    margin-right:auto;
  }

}
/*for ipad pro or laptops*/
@media screen and (min-device-width:769px)and (max-device-width:1024px){
  .parent{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
  }
  .childOne{
    width: 30%;
    margin:2px;
    border:1px solid grey;
    border-radius:15px 12px 15px 15px;
    background-color: tomato;
  }
  .childTwo{
    width:68%;
    margin:2px;
    border:2px solid blue;
    border-radius:2px 2px 2px 2px;
    background-color: green;
  }
  img{
    display:block;
    margin-left:auto;
    margin-right:auto;
  }

}
